{{!-- <button>Add Color</button> --}}
<div>
    <div class='bg-white-500 rounded-lg px-4 py-2'>

        <a href='#'
            class='block bg-red-800 px-4 py-2 text-white hover:bg-green-600 hover:text-white  border-white border-2 rounded-lg'>Add
            Color</a>
        <a href='#'
            class='block bg-red-800 px-4 py-2 text-white hover:bg-green-600 hover:text-white  border-white border-2 rounded-lg'>Green</a>
        <a href='#'
            class='block bg-red-800 px-4 py-2 text-white hover:bg-green-600 hover:text-white  border-white border-2 rounded-lg'>Red</a>
        <a href='#'
            class='block bg-red-800 px-4 py-2 text-white hover:bg-green-600 hover:text-white border-white border-2  rounded-lg'>Gold</a>

    </div>

</div>