{{!-- <button>Add Color</button> --}}
<div >
    <div class='bg-white-500 rounded-lg px-4 py-2'>

        <a href='#'
            class='block px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white border-red-800 border-2 rounded-lg'>Add
            Color</a>
        <a href='#'
            class='block px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white border-red-800 border-2 rounded-lg'>Green</a>
        <a href='#'
            class='block px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white border-red-800 border-2 rounded-lg'>Red</a>
        <a href='#'
            class='block px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white border-red-800 border-2 rounded-lg'>Gold</a>

    </div>

</div>