{{!-- this will be our canvas --}}
{{!-- different layers will be diplayed here --}}
<div>
    <div class="flex flex-row ">
        <h1 class='mt-6 text-3xl font-bold text-green-600 leading-tight px-4 py-16'>Welcome to Crayon Box!
        </h1>
        <img class='h-30 w-30 px-4 py-8 mt-6 rounded-lg' src='/img/tree.png' alt='tree'>
    </div>

    <p class="px-4 text-gray-600 ">Pick a color a watch the canvas change.</p>
</div>
{{!-- <Colors/> --}}