{{!-- colors holds an add button, panel of layers, and a canvas
canvas should display the default layer  --}}
{{!-- this will act as our index page --}}
<div>
    <div class="flex flex-row ">
        <div>
            <h1 class='mt-6 text-3xl font-bold text-green-600 leading-tight px-4 py-6'>Welcome to Crayon Box!
            </h1>
            <p class="px-4 text-gray-800 ">Pick a color a watch the canvas change.</p>
        </div>

        <img class='h-50 w-40 px-2 py-1 mt-6 rounded-lg object-cover' src='/img/tree.png' alt='tree'>
    </div>
    <div class='px-4'>
             <button type='button'
            class='bg-blue-600 px-4 py-2 text-white hover:bg-indigo-600 hover:text-white border-white border-2  rounded-lg'>Add
            Color
        </button>

       
        <ul class='py-4'>
            {{#each @model as |color|}}
            <li>
                <Color @color={{color}} />
            </li>
            {{/each}}
        </ul>
    </div>

</div>